@import 'base';
@import './components/header';
@import './components/advertise';
@import './screens/homeScreen';
@import './screens/footer';
@import './screens/cartScreen';
@import './screens/shippingScreen';
@import './screens/productsScreen';
@import './screens/productScreen';
@import './screens/paymentScreen';
@import './screens/placeOrderScreen';
@import './screens/profileScreen';
@import './screens/orderScreen';
@import './screens/loginScreen';
@import './screens/admin/adminScreen';
@import './components/categories';
@import './components/feedIg';
@import './components/product';
@import './components/paginate';
@import './components/searchBox';
@import './components/categories-buttons';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: $green;
}


.no-mostrar{
  display: none;
}